@charset "utf-8";



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: 'Fira Mono', monospace;*/
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content-page{
	padding: 50px;
}

.official-color-text{
	color:rgba(158,134,75,1);
}

.btn-official{
	background:rgba(158,134,75,1);
	color: white;
	width: 100%;
}


.ac-case{
	margin:30px 0px; 
	cursor:pointer;
	color:black;
	background: white;
}
.ac-case:hover{
	margin:30px 0px; 
	cursor:pointer;
	color:white;
	background: rgba(158,134,75,1);
}